{% extends 'base.html.twig' %}

{% block body %}
  <div class="header-image">
    <div class="overlay">
      <div class="text-center text-light pt-5 pb-5">
        <h1 class="display-3 animate__animated animate__fadeInDown">{{ domain }} est à vendre</h1>
        <p class="lead animate__animated animate__fadeInUp">Saisissez l'opportunité de posséder un domaine unique qui renforcera votre présence en ligne.</p>
      </div>
    </div>
  </div>

  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        {% for message in app.flashes('success') %}
          <div class="flash-message flash-message-success">
            {{ message }}
          </div>
        {% endfor %}

        {% for message in app.flashes('error') %}
          <div class="flash-message flash-message-error">
            {{ message }}
          </div>
        {% endfor %}

        {{ form_start(contactForm, {'attr': {'data-turbo': 'false'}}) }}
          <div class="mb-3">
            {{ form_row(contactForm.name) }}
          </div>
          <div class="mb-3">
            {{ form_row(contactForm.email) }}
          </div>
          <div class="mb-3">
            {{ form_row(contactForm.message) }}
          </div>
          <div class="text-center">
            {{ form_widget(contactForm.send) }}
          </div>
        {{ form_end(contactForm) }}
      </div>
    </div>
  </div>
{% endblock %}
